.form-structure{
    width: 92%;
    border: 4px solid white;
    border-radius: 20px;
    margin: auto;
    height: 80vh;
    margin-top: 30px;
}

.input-fields{
    width: 90%;
    height: 50px;
    background-color: transparent;
    color: white;
    margin-top: 60px;
    /* margin-bottom: 15px; */
    border-radius: 20px;
    text-align: center;
    border: 2.5px solid white;
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    
}
/* input[type=number] {
    -moz-appearance: textfield;
  } */