.main{
    background-color: #121212;
    height: 100vh;
    /* background-image: 'url("https://i.pinimg.com/736x/2f/36/ce/2f36cef13b6351d45d1b99a16f894033.jpg")'; */
    background-image: url('https://i.pinimg.com/736x/2f/36/ce/2f36cef13b6351d45d1b99a16f894033.jpg');
    background-size: cover;
}